@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

:root{
    --primary-color: #34D399;
    --dark-color: #4B5563;
    --light-gray:#D1D5DB;
}
body{
    font-family:crimson text, 'Times New Roman', Times, serif;
    margin:0px;
}

/* container */
.container{
    padding: 1 rem , 1 rem;
}
hr{

}
.container-fluid{
    max-width: 600px;
    min-width: 300px;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */
.link{
    text-decoration:none;
    padding:0.5rem 
     1 rem;
}
.link-primary{
   background-color: var(--primary-color);
   padding: 0.5rem  1rem;
  border-radius: 1rem ;
  color:whitesmoke;
  display: flex;
  justify-content: center;

}

.link-secondary{
    color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid  var(--primary-color);
    display: flex;
    justify-content: center;

/* READ BEM NAMING CONVENTION */
}

/** Lists**/
.list-non-bullet{
    list-style:none;
}

.list-item-inline{
display: inline;
padding: 0rem .5rem;

}

.navigation{
    background-color:var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
      
}
.navigation .nav-brand{
font-weight: bold;
font-size: 2rem;
}
.navigation .nav-pills{
    text-align:right;
    padding-inline-start: 0px;
}

.navigation .link{

    color:whitesmoke;
  
}
.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display:block ;
    margin:auto;

}

.hero .hero-heading{
    padding-top: 1rem
     ;
    color:var(--dark-color);
  text-align: center;
}


/** section **/
section{
padding: 2rem;


}

.section h1 {
    text-align: center;
  
}


.gs{
   background-color: var(--light-gray);


}

.footer{
background-color: var(--primary-color);
padding: 2rem 1rem;
color: whitesmoke;
text-align: center;
border-bottom-left-radius: 1rem;
border-top-right-radius: 1rem;
}

.footer .footer-header{
font-weight: bold;
font-size: large;
text-shadow: yellow
}

.footer .link{
    color: whitesmoke;
}
 .link :hover{
     color: yellow;
 }


 .footer .ul{
     padding-inline-start: 0px;
 }

