@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

:root{
    --primary-color: #34D399;
    --dark-color: #4B5563;
    --light-gray:#D1D5DB;
}

body{
    font-family:crimson text, 'Times New Roman', Times, serif;
   
    /* background-image: url("/images/blog-post.svg"); */
     max-width: 100%;
   margin: 0;
   
}

/* container */
.container{
    padding: 1rem , 1rem;
}

.container-fluid{
    max-width: 600px;
    min-width: 300px;
}
.container-center{
    display: block;
    max-width: 600px;
     margin: auto;
      
   
}

/* links */
.link{
    text-decoration:none;
    padding:0.5rem 
     1 rem;
     color: inherit;
}
.link-primary{
   background-color: var(--primary-color);
   padding: .5rem 1rem;
   max-width: 600px;
  border-radius: 1rem ;
  color:whitesmoke;
  display: block;
  margin: auto;
  text-align: center;


}

.link-secondary{
    color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid  var(--primary-color);
    display: flex;
    justify-content: center;

/* READ BEM NAMING CONVENTION */
}

/** Lists**/
.list-non-bullet{
    list-style:none;
    
    padding-inline-start:0;
}

.list-item-inline{
display: inline;
padding: 0rem .5rem;

}

/** Navigation **/
.navigation{
    background-color:var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
 
     
}
.navigation .nav-brand{
font-weight: bold;
font-size: 1.5rem;
color: white;
opacity: .4;
}
.navigation .nav-pills{
    text-align:right;
    padding-inline-start: 0px;
}

.navigation .link{

    color:whitesmoke;
  
}
.navigation .link-active{
    font-weight: bold;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
 
display: block;
margin: auto;
width: 50vw;


}

.hero .hero-heading{
    padding: 1rem
     ;
    color:var(--dark-color);
  text-align: center;
}


/** section **/
section{

text-align: left;
padding-right: 1rem;

margin: 1rem;

}




.gs{
   background-color: rgba(209, 213, 219, 0.4);
   
   border-radius: 4px;
   padding: 1rem;
   margin: 3px;


}
.gs:hover{
background-color: transparent;
}
.footer{
    margin-top: 2rem;
background-color: var(--primary-color);
padding: 2rem 1rem;
color: whitesmoke;
text-align: center;
border-bottom-left-radius: 1rem;
border-top-right-radius: 1rem;
}

.footer .footer-header{
font-weight: bold;
font-size: large;
text-shadow: yellow
}

.footer .link{
    color: whitesmoke;
}
 

 .footer .ul{
     padding-inline-start: 0px;
 }

 a{
    text-decoration: none;
    font-family: inherit;
 }
 a:hover{
    opacity: .6;
    
}
/* for blogs */

.content-img{
    max-width: 50vw;
    margin: auto;
}

.hero-bl-heading{
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: center;
}

.wall_img{
    max-width: 100%;
   
   
    opacity: .7;
    border-radius: 5px;
}

.gs_1{
    background-color: rgba(209, 213, 219, 0.4);
      
    display: block;
   margin:auto;
 
   border-radius: 4px;
   padding: 1rem;
}

iframe{
    max-width: 100%;
}
#pfp {
  border-radius: 50%;
 max-width: 400px;
  border: 5px solid var(--primary-color);
}